@charset "UTF-8";

/* Screen
---------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}


body {
  background: #f7f7f7;
  font-family: 'Poppins',sans-serif;
}

.index {
  margin: 0;
  padding: 0;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%230099ff" fill-opacity="1" d="M0,192L60,186.7C120,181,240,171,360,186.7C480,203,600,245,720,234.7C840,224,960,160,1080,133.3C1200,107,1320,117,1380,122.7L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z" data-darkreader-inline-fill="" style="--darkreader-inline-fill: %23007acc; margin-top: 50px;"></path></svg>') no-repeat center center;
  background-position: bottom 0px right 0px;
}


.title-box {
  text-align: center;
  margin: 100px auto 50px;
}

.title-box img {
  width: 65%;
  margin-bottom: 20px;
  border-radius: 4px;
}

.title-box h1 {
  font-size: 40px;
  font-weight: 600;
  color: #2196f3;
  margin-bottom: 20px;
}

.team-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}

.profile-box {
  width: 240px;
  height: 240px;
 
  box-shadow: 0 15px 25px rgba(0, 0, 50, 0.2);
  border-radius: 4px;
  margin-bottom: 30px;
  box-shadow: 0 10px 10px 10px rbga(115, 193, 255, 0.1);
  padding: 20px;
  position: relative;
}

.profile-box h4 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 25px;
  color: #2196f3;
  margin-bottom: 5px;
}

.profile-box p {
  margin: 65px auto 25px;
  text-align: center;
  line-height: 24px;
  color: #555;
}

.profile-box img {
  width: 100px;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 4px;
  transition: .5s;
}

.profile-box img:hover {
  width: 240px;
}

.profile-box small {
  font-size: 14px;
  color: #555;
  height: 100px;
  
}



.main-text {
  text-transform: uppercase;
  /* Texte en majuscules */
  text-align: center;
  /* Texte centré */
  font-size: 3vw;
  /* Taille de police assez grande (ajustez selon vos besoins) */
  font-family: 'Poppins', sans-serif;
  /* Police d'écriture moderne (ajustez selon vos préférences) */
  white-space: nowrap;
  /* Empêche le dernier mot de passer à la ligne */
  overflow: hidden;
  /* Masque le débordement du texte */
  width: 100%;
  /* Force le texte à rester sur une seule ligne */
  line-height: 1.2;
  /* Espacement entre les lignes (ajustez selon vos préférences) */
  margin-bottom: 200px;

}

.main-text h1 {
  margin-top: 50px;
  color: #000;
  font-family: 'Poppins', sans-serif;
}

#acceuil {
  font-size: 3vw;
  /* Taille de police assez grande (ajustez selon vos besoins) */
  font-family: 'Poppins', sans-serif;
  /* Police d'écriture moderne (ajustez selon vos préférences) */
  white-space: nowrap;
  /* Empêche le dernier mot de passer à la ligne */
  overflow: hidden;
  /* Masque le débordement du texte */
  width: 100%;
  /* Force le texte à rester sur une seule ligne */
  line-height: 1.2;
  /* Espacement entre les lignes (ajustez selon vos préférences) */
  margin-left: 10%;
}





/* Style de la barre de navigation */
.navbar {
  /*position: absolute;*/

  background: rgba(3, 150, 243);
  background: -moz-linear-gradient(90deg, rgba(3, 150, 243, 1) 0%, rgba(3, 154, 209, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(3, 150, 243, 1) 0%, rgba(3, 154, 209, 1) 100%);
  background: linear-gradient(90deg, rgba(3, 150, 243, 1) 0%, rgba(3, 154, 209, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#039ad1", endColorstr="#03337d", GradientType=1);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;

  
}
.navbar .mylogo{
  font-size: 2em;
  font-weight: bold;
}
.navbar a {
  color: #fff;
}

.navbar .nav-links ul{
  display: flex;
}

.navbar .nav-links ul li{
  margin: 0 20px;
}

.navbar .nav-links ul li a{
  transition: 0.5s;
}

.navbar .nav-links ul li a:hover{
  color: #fff;
  font-weight: 600;
  font-size: larger;
}

.navbar .nav-links ul li.active a{
  color: #fff;
  font-weight: 600;
  font-size: larger;
  
}

.navbar .menu-hamburger{
  display: none;
  width: 35px;
  position: absolute;
  right: 30px;
  top: 50px;
}


.navbarbis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Couleur de fond de la barre de navigation */
  padding: 10px;
  /* Espacement interne */
  height: max-content;
  margin-bottom: 2%;
}

.leftBis {
  display: flex;
  align-items: center;
}

.left-imageBis {
  width: 50%;
  /* Vous pouvez ajuster la largeur selon vos besoins */
  margin-right: 10px;
}

#accueil {
  text-transform: uppercase;
  text-align: center;
  font-size: 200%;
  color: #fff;
}

#accueil:hover {
  cursor: pointer;
}



/* Style de la première image à gauche */
.left {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* Aligner les images de droite à droite */
}

.left-image {
  margin-right: auto;
  /* Pousse la première image tout à gauche */
  width: 20%;
}

/* Style du conteneur des deux images de droite (empilées l'une au-dessus de l'autre) */
.right-images {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* Aligner les images de droite à droite */
}

/* Style des images de droite */
.right-images img {
  margin-top: 5px;
  /* Espacement entre les deux images de droite */
  width: 20%;
}


/* Style du bouton */
.button-container {
  display: flex;
  justify-content: center;
  /* Centre les boutons horizontalement dans le conteneur */
  margin-top: 10px;
  /* Espacement entre les deux rangées de boutons */
}

.button {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  font-size: 2vw;
  text-decoration: none;
  display: inline-block;
  color: black;
  margin: 5px;
  /* Espacement entre les boutons dans la même rangée */
  width: 30%;
  /* Largeur des boutons */
}

/* Style au survol du bouton */
.button:hover {
  cursor: pointer;
  /* Couleur de fond au survol */
}



.mainBis {
  display: flex;
  flex-wrap: wrap;
  /* Permet de passer à une disposition verticale sur les écrans étroits */
}

.leftPart {
  flex: 1;
}

.rightPart {
  flex: 1;
  /* Partage l'espace disponible à parts égales entre leftPart et rightPart */
}

.paragraph {
  padding: 20px;
  color: #000;
  text-align: justify;
  box-shadow: 0 15px 25px rgba(0, 0, 50, 0.2);
  border-radius: 4px;
  margin: 20px;
}

.paragraph h1 {
  font-size: 250%;
  /* Augmente la taille de la police du titre h1 */
  padding-bottom: 1%;
  font-weight: 500;
}

.paragraphList > * {
  margin-left: 50px;
  list-style: disc !important;
  padding-left: 10px !important;
}



.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .form{
  background: rgba(240, 240, 240, 0.8);
  box-shadow: 0 15px 25px rgba(0, 0, 50, 0.2);
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

.container .form h3 {
  color: #2196f3;
  font-size: 2vw;
  font-weight: 600;
  margin-bottom: 2vw;
}

.container .form input, textarea{
  box-shadow: 0 15px 25px rgba(0, 0, 50, 0.2);
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  font-size: 16px;
  color: #000;
}

.container .form input::placeholder, textarea::placeholder{
  color: #8b8b8b;
}

.container .form button{
  padding: 15px;
  background: #2196f3;
  box-shadow: 0 15px 25px rgba(0, 0, 50, 0.2);
  color: #fff;
  font-size: 18px;
  border: 0;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  width: 150px;
  margin: 20px auto 0;
}


.containerFaq{
  width: 45%;
  min-width: 500px;
  position: relative;

  margin: 60px auto;
  display: flex;
  flex-direction: column;
  
}

.wrapper{
  background-color: #fff;
  margin-bottom: 20px;
  padding: 15px 40px;
  border-radius: 5px;
  box-shadow: 0 15px 25px rgba(0, 0, 50, 0.2);
}
.toggle i{
  margin-left: 25px;
}
.toggle,
.content{
  font-family: 'Poppins', sans-serif;
}

.toggle{
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
}

.content{
  position: relative;
  font-size: 14px;
  text-align: justify;
  line-height: 30px;
  height: 0;
  overflow: hidden;
  transition: all 1s;
}

.contactus{
  font-size: 2rem;
  font-weight: 600;
  position: fixed;
  bottom: 20px;
  right: 40px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.contactus > *{
  margin: 0 10px;
  color: #fff;
  transition: all 0.5s;
}

.paragraph ul {
  list-style-type: disc;
}

footer {
  position: fixed; /* ou relative, selon vos besoins */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.img_footer {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  padding: 10px; /* Ajout de padding pour espacer les éléments */
}

.img_footer img {
  margin: 0 10px; /* Espacement entre les images, ajustez selon vos besoins */
  vertical-align: middle; /* Alignement vertical au milieu */
  width: auto; /* Ajustez la largeur selon vos besoins */
  height: 50px; /* Garantit que la hauteur est ajustée proportionnellement à la largeur */
}



@media screen and (max-width:900px){
  .index{
    height: 100px;
  }
  .navbar{
    padding: 0;
  }
  .navbar .menu-hamburger{
    display: block;
  }

  .navbar .mylogo{
    position: absolute;
    top: 40px;
    left: 30px;
    font-size: 1.5em;
    color: black;
  }
  .main-text h1{
    color: white;
  }
  .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: 0.5s;
    font-size: x-large;
    color: black;
  }
.menu-hamburger {
  z-index: 101;
}
  
  .nav-links.mobile-menu{
    margin-left: 0;
    color: black;
    z-index: 100;
  }
  .nav-links ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
  }

  .navbar .nav-links ul li{
    margin: 20px 0;
    font-size: 1.2em;
    color: black;
  }

  .navbar .nav-links ul li a{
    color: black;
  }

  .navbar .nav-links ul li.active a{
    color: black;
    font-weight: 600;
    font-size: larger;
    
  }
  
  .button-container {
    flex-direction: column;
    /* Empile les boutons les uns au-dessus des autres */
    align-items: center;
    /* Centre les boutons verticalement */
    
  }

  /* Ajustements de style pour les boutons sur les petits écrans */
  .button {
    font-size: 5vw;
    /* Taille de police plus petite (ajustez selon vos besoins) */
    width: 80%;
    margin: 25px;
  }

  .team-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .leftPart,
  .rightPart {
    flex: 100%;
    /* Sur les écrans étroits, passe à une disposition verticale à 100% de largeur */
  }
  .leftPart {
    margin-top: 90px;
  }

  .paragraph h1 {
    font-size: 5vw;
    /* Augmente la taille de la police du titre h1 */
    padding-bottom: 1%;
  }

  .title-box img{
    width: 90%;
  }

  .containerFaq{
    margin-top: 150px;
  }
  .wrapper{
    margin-left: 10px;
    width: 65%;
  }

  .container .form h3{
    font-size: 4vw;
  }
}